* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../Kepek/fooldalbg.png');
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}


.navbar {
    background-color: #222020;
    color: white;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
}
.navbar a:hover {
    text-decoration: underline;
}
.navbar .brand {
    font-size: 1.5em;
}


.search-bar {
    margin: 2em 0;
    text-align: center;
}
.search-bar input {
    padding: 0.75em;
    width: 60%;
    border: 2px solid #363636;
    outline: none;
    transition: 0.3s;
}
.search-bar input:focus {
    border-color: #000000;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}


.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    padding: 2em;
}
.card {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card img {
    max-width: 100%;
    height: auto;
    margin: auto;
    float: right;
}
.card h3 {
    text-align: center;
    margin: 1em 0 0.5em;
    color: #363636;
    font-size: 1.25em;
}
.card p {
    padding: 0 1em 1em;
    color: #555;
}


footer {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}