body {
    background-image: url('../Kepek/hatter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 1.6;
}

.navbaregy {
    background-color: #222020;
    color: white;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbaregy a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
}
.navbaregy a:hover {
    text-decoration: underline;
}
.navbaregy .brand {
    font-size: 1.5em;
}

.jelszo {
    color: red;
    
} 

.jelszo:hover {
    color: rgb(179, 1, 1);
} 

.doboz {
    margin-left: -15px;
}

input[type="checkbox"].doboz {
    accent-color: red; 
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #ff0000; 
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); 
}

input:focus {
    border-color: #ff0000;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

div.card {
    background-color: antiquewhite; 
}

input[type="email"]:focus, input[type=""]:focus {
    border-color: #ff0000;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);

}


.text-center a {
    color: red; 
    text-decoration: none; 
}

.text-center a:hover {
    color: rgb(179, 1, 1); 
}